%h1.center.text.red Edit #{@entry.title}

= form_for @entry do |f|
  = f.label :title
  = f.text_field :title
  = f.label :story
  = f.text_field :story
  = f.label :date
  = f.date_field :date
  = f.label :partners
  = f.text_field :partners
  = f.submit
