.container.content
  %br
  %a.back{:href => '../dashboard/index'} Back
  .row.center
    %h1.center-horizontal.bigTitle.capitalize #{@entry.title}
  .row
    %h4.col.l6.center Date: #{@entry.date}
    %h4.col.l6.center Partners: #{@entry.partners}
  %p.tab.flow-text #{@entry.story}
  %h3.center Images
  .row
  - if @pictures.any?
    -@pictures.each do |picture|
      %img.framedTitle.materialboxed#showImg{:src => picture.image.url(:full), "data-caption" => picture.caption,  "height" => "250", }
  .row
  - if current_user != nil && current_user.email == 'coreyrugino@gmail.com'
    %a= link_to 'New image', new_picture_path(entry_id: @entry.id)
    %a= link_to 'Edit Entry', edit_entry_path(entry_id: @entry.id)
    %a= link_to 'Delete', entry_path(entry_id: @entry.id), method: :delete
  %br
  %a.back{:href => '../dashboard/index'} Back
