!!!
%html
  %head
    %title Cats on Peaks
    = stylesheet_link_tag    'application', params[:controller], media: 'all'
    = javascript_include_tag 'application', params[:controller]
    = csrf_meta_tags
  %body
    = render 'layouts/navbar.html.haml'
    = yield
    = render 'layouts/footer.html.haml'
